version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    commit-message:
      # Prefix all commit messages with "chore(deps): " for conventional commit messages
      prefix: "chore(deps)"
      prefix-development: "chore(deps-dev)"
